.calendar {
  position: absolute;
  top: 103px;
  left: 36px;
  z-index: 999;
  background-color: white;
  width: 275px;
  height: 290px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: 'helvetica neue'
}

.calendar-hidden {
  display: none;
}

.calendar table {
  width: 100%;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
}

.calendar thead td {
  padding: 3px;
  color: #333;

}

.calendar th {
  color: #d32323;
  padding-bottom: 0;
  padding-top: 0;

}

.calendar tbody td {
  border: 2px solid #ccc;
}

.monthYear {
  color: #333;
  font-weight: 600;
}

.month-change-cell {
  cursor: pointer;
}



