.reservations-container {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  max-width: 276px;
  max-height: 139px;
  margin: 17.5px;
  padding: 14px 11px 11px;
  font-family: 'helvetica neue';
  z-index: 1;
}

.reservations-container h3 {
  display: flex;
  margin: 0
}

.reservation-header-link {
  text-decoration: none;
  color: #333;
  margin-left: 5px;
}

.reservation-header-link:hover {
  text-decoration: underline;
  color: #333;
}

.reservations-form-container input {
  border: none;
}

.reservation-fields {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.date-picker {
  flex: 0 1 100%;
  margin-bottom: 5px;
}

.time-picker {
  flex: 1 0 47.5%;
  margin-right: 5px;
}

.people-picker {
  flex: 1 0 47.5%;
}

.yselect {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.yselect input {
  width: 230px;
  height: 20px;
  margin-left: 10px;
  border: none;
}

.yselect select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  height: 20px;
  width: 90px;
  margin-left: 10px;
}

select:focus, input:focus {
  outline: none;
}

.yselect:focus-within {
  border: 2px solid #0073bb;
}

.find-table-button {
  width: 100%;
  padding: 5px 0;
  border-radius: 3px;
  background-color: #41a700;
  color: white;
  font-weight: 600;
}

.find-table-button:focus {
  outline: none;
}

.find-table-button:hover {
  background-color: #67b933;
}

