.icon {
  
}

.icon-24x24_reservation {
  fill: #666666;
  height: 20px;
}

.icon-24x24_clock {
  fill: #41a700;
  width: 10%;
  height:10%;
}

.icon-24x24_food {

}

.icon-24x24_medical {

}

.icon-24x24_external_link {

}

.icon-18x18_reservation {

}

.icon-18x18_clock {

}

.icon-14x14_arrow_down {

}

.icon-18x18_friends {

}

.icon-14x14_food {

}

.icon-14x14_pencil {
  fill: #0073bb;
  height: 1.5%;
  width: 2%;
}

.icon-dollarsign_1 {

}

.icon-dollarsign_2 {

}

.icon-dollarsign_3 {

}

.icon-dollarsign_4 {

}

.icon-24x24_external_link {
  fill: #0073bb;
  height: 5%;
  width: 5%;
}


