.icon-24x24_reservation {
  fill: #333;
  height: 25px;
  width: 25px;
}

.icon-24x24_clock {
  fill: #41a700;
  width: 20px;
  height: 20px;
}

.icon-24x24_food {
  fill: #666;
  width: 20px;
  height: 20px;
}

.icon-24x24_medical {
  width: 20px;
  height: 20px;
  fill: #666;
}

.icon-24x24_external_link {

}

.icon-18x18_reservation {
  height: 15px;
  width: 15px;
  fill: #666;
}

.icon-18x18_clock {
  height: 15px;
  width: 15px;
  fill: #666;
}

.icon-14x14_arrow_down {

}

.icon-18x18_friends {
  height: 15px;
  width: 15px;
}

.icon-14x14_food {

}

.icon-14x14_pencil {
  fill: #0073bb;
  height: 10px;
  width: 25px;
}

.icon-dollarsign_1 {
  width: 20px;
  height: 20px;
}

.icon-dollarsign_2 {
  width: 20px;
  height: 20px;
}

.icon-dollarsign_3 {
  width: 20px;
  height: 20px;
}

.icon-dollarsign_4 {
  width: 20px;
  height: 20px;
}

.icon-24x24_external_link {
  fill: #0073bb;
  height: 15px;
  width: 25px;
}

.icon-14x14_triangle_down {
  height: 12px;
  width: 12px;
}

.icon-undefined {
  outline: 5px solid #369;
}

