.biz-hours {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 270px;
  height: 254px;
  margin: 0 17.5px 17.5px;
  border-left: 1px solid #e6e6e6;
}

.biz-hours-header {
  color: #d32323;
  margin-left: 25px;
  font-size: 15px;
  font-weight: bold;
}

.extra-cell {
  font-weight: 600;
  padding-bottom: 2px;
}

.open-now {
  color: #41a700;
}

.closed-now {
  color: #d32323;
}

.hours-table {
  width: 264px;
  height: 198px;
  font-size: 12px;
  text-align: left;
  margin-left: 15px;
  vertical-align: baseline;
  border-spacing: 10px 0;
}

.hours-table tbody th {
  color: #333;
}

.hours-table tbody td {
  padding-top: 7px;
}

span {
  white-space: nowrap;
}

.biz-info-link {
  margin: 10px 0 10px 20px;
  color: #0073bb;
}

.biz-link {
  text-decoration: none;
  color: #0073bb;
  font-size: 12px;
  margin-left: 5px;
}

.biz-link:hover {
  text-decoration: underline;
  color: #0073bb;
}