.biz-hours {
  font-family: 'helvetica neue';
  width: 270px;
  height: 254px;
  margin: 0 17.5px 17.5px;
  border-left: 1px solid #e6e6e6;
}

.biz-hours-header {
  color: #d32323;
  margin-left: 25px;
  font-size: 15px;
}

.open-now {
  color: #41a700;
  font-weight: 600;
}

.hours-table {
  border-collapse: separate;
  border-spacing: 25px 0;
  width: 264px;
  height: 198px;
  font-size: 12px;
  padding: 0;
}

span {
  white-space: nowrap;
}

.biz-info-link {
  margin: 10px 0 10px 20px;
  color: #0073bb;
}

.biz-link {
  text-decoration: none;
  color: #0073bb;
  font-size: 12px;
}

.biz-link:hover {
  text-decoration: underline;
  color: #0073bb;
}