.calendar {
  position: absolute;
  top: 85px;
  left: 10px;
  z-index: 999;
  background-color: white;
  width: 275px;
  height: 290px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: 'helvetica neue'

}

.calendar-hidden {
  display: none;
}

.calendar table {
  width: 100%;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
}

.calendar thead td {
  padding-top: 10px;
  color: #333;
  vertical-align: bottom;
}

th {
  color: #d32323;
  vertical-align: bottom;
  padding-bottom: 5px;
}

.calendar tbody td {
  border: 2px solid #ccc;
}

.monthYear {
  color: #333;
  font-weight: bold;
}

.month-change-cell {
  cursor: pointer;
}

.calendar tbody {
  margin-top: 20px;
}

.date-disabled {
  color: #e6e6e6;
}

.date-disabled:hover {
  cursor: not-allowed;
}

.date-enabled {
  color: #333;
}

.date-enabled:hover,
.date-null:hover {
  background-color: #cddae2;
  cursor: pointer;
}

.date-today {
  color: #333;
  font-weight: bold;
}

.date-selected {
  background: rgba(207,18,0,0.8);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.date-selected:hover {
  background:  rgba(207,18,0,0.8);
  box-shadow: inset 0 0 2px rgba(0,0,0,0.4);
}

.date-disabled {
  color: #e6e6e6;
}

.date-disabled:hover {
  cursor: not-allowed;
}
